/*Main background colour*/
body {
    background-color: #6aabd1;
}
/*Heading 1 centered text and border colour*/
h1{
    text-align: center;
    align-items: center;
    border: 2px groove rgb(10, 75, 119);
}
/*sections centered*/
.selections {
    display: flex;
    justify-content: center;
}
/*sections styling*/
.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 4rem;
    transition: 100ms;
}

.selection:hover {
    transform: scale(1.2);
}

.results {
    margin: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 2rem;
}
.result-score {
    margin-left: .1rem;
    font-size: 1rem;
    color: #333;
}

.result-selection {
    opacity: .5;
}

.result-selection.winner {
    opacity: 1;
    font-size: 2rem;
}

.reset-btn {
    text-align: center;
}

#reset {
    background-color: aquamarine;
}